/* Fonts */

@font-face {
  font-family: "Oranienbaum";
  font-weight: 400;
  src: url(../fonts/Oranienbaum-Regular.woff2) format("woff2"),
    url(../fonts/Oranienbaum-Regular.woff) format("woff"),
    url(../fonts/Oranienbaum-Regular.svg#Oranienbaum-Regular) format("svg"),
    url(../fonts/Oranienbaum-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto-Regular.svg#Roboto-Regular) format("svg"),
    url(../fonts/Roboto-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url(../fonts/Roboto-Bold.woff2) format("woff2"),
    url(../fonts/Roboto-Bold.woff) format("woff"),
    url(../fonts/Roboto-Bold.svg#Roboto-Bold) format("svg"),
    url(../fonts/Roboto-Bold.ttf) format("ttf");
}

:root {
  /* Variables */
  --main-color: red;
  --main-font-color: #000;
  --main-dark-color: #000;
  --white-font-color: #fff;
  --luxury-font-color: #a98962;
  --section-bg-color: #fff;
  --placeholder-color: #e9e9e9;

  --heading-font-family: Roboto, Arial, Helvetica, sans-serif;

  font-size: 14px;
  font-family: var(--heading-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oranienbaum, "Times New Roman", Times, serif;
}

.text_luxury {
  color: var(--luxury-font-color);
  text-decoration: underline;
}

body.page-background {
  background-color: var(--main-dark-color);
}

/* Header */
.header {
  font-family: var(--heading-font-family);
}

@media (min-width: 768px) {
  .header {
    background-image: url(../images/bg-main.png);
    background-size: cover;
    background-position: center;
  }
}

.header_dark {
  color: var(--white-font-color);
}

.header_dark a {
  color: inherit;
  font: inherit;
}

/* Social */
.social__link {
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__icon {
  background-repeat: no-repeat;
  background-position: -3px -1px;
}

.social__icon:hover {
  background-position: -3px -26px;
}

.social__icon_instagram {
  background-image: url("../images/1438557260_inst_4.png");
}

.social__icon_facebook {
  background-image: url("../images/1438557245_ab_4.png");
}

.social__icon_vkontakte {
  background-image: url("../images/1438423986_vk_3.png");
}

/* Promo */

.promo {
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
}

@media (min-width: 768px) {
  .promo {
    text-align: left;
  }
}

.promo__logo {
  display: inline-block;
}
